@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.shiny {
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(var(--angle), rgb(66, 136, 250), rgb(210, 252, 253), rgb(211, 171, 253), rgb(66, 136, 250), rgb(250, 227, 230)) border-box;
  animation: rotate 16s linear infinite;
}